<%- include("header") %>
<%- include("navbar") %>
<%- include("scripts") %>

<br><br>

<div class="main">
    <div class="container">
        <div class="jumbotron">
            <div class="container">
            <h1><%= headliner %></h1>
        </div>
        </div>
    </div>
</div>

<br>

<%- include("footer") %>
